[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = space
indent_size = 4
tab_width = 4
max_line_length = 100

resharper_new_line_before_catch = false
resharper_new_line_before_finally = false
resharper_new_line_before_else = false
resharper_space_after_cast = true
resharper_braces_for_for = required
resharper_braces_for_foreach = required
resharper_braces_for_ifelse = required
resharper_braces_for_while = required
resharper_constructor_or_destructor_body = expression_body
resharper_empty_block_style = together
resharper_keep_blank_lines_in_code = 1
resharper_keep_blank_lines_in_declarations = 1
resharper_wrap_after_declaration_lpar = true
resharper_wrap_before_declaration_rpar = true
resharper_indent_inside_namespace = true
resharper_indent_preprocessor_directives = normal
resharper_keep_existing_declaration_parens_arrangement = false
resharper_local_function_body = expression_body
resharper_method_or_operator_body = expression_body
resharper_place_attribute_on_same_line = false
resharper_wrap_before_primary_constructor_declaration_rpar = true
resharper_continuous_indent_multiplier = 1
resharper_brace_style = end_of_line
